In [2]:
import numpy as np
import pandas as pd

from IPython.display import Image

# Pandas - Series
* Series计算
* 缺失数据
* 数据分割

## Series计算
* 第一series计算
* 多个series计算

In [1]:
# list
s=pd.Series([1,2,3,4,5])
s.values

NameError: name 'pd' is not defined

In [4]:
# dict 
s1=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [5]:
# dict
s2=pd.Series({1:1,2:2,3:3,4:4})
s2

1    1
2    2
3    3
4    4
dtype: int64

### 单一series计算

In [8]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
s.sum()

15

In [6]:
# 累计和
s.cumsum()

0     1
1     3
2     6
3    10
4    15
dtype: int64

In [11]:
# 乘积
s.prod()

120

In [11]:
# 平均值
s.mean()
print(s.mean())
print(np.average(s))

3.0
3.0

In [13]:
# 中位数
s.median()

3.0

In [12]:
s.var()

2.5

In [17]:
np.average(s,weights=[1,2,3,4,5])

3.6666666666666665

In [18]:
s.std()

1.5811388300841898

In [19]:
s.max()

5

In [20]:
s.min()

1

In [21]:
# 最大值索引
print(s1.idxmax())
print(s1.argmax())
print(s1.idxmin())
print(s1.argmin())

e
e
a
a

In [28]:
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [30]:
s1.argmax()

'e'

In [31]:
s1.idxmax()

'e'

In [32]:
s1.idxmin()

'a'

In [33]:
s1.argmin()

'a'

In [34]:
s.argmin()

0

In [35]:
s.idxmin()

0

In [36]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [37]:
s+1

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [38]:
s-2

0   -1
1    0
2    1
3    2
4    3
dtype: int64

In [39]:
s*3

0     3
1     6
2     9
3    12
4    15
dtype: int64

In [43]:
(s/3).astype(np.int64)
(s/3).astype(np.int)

0    0
1    0
2    1
3    1
4    1
dtype: int32

In [40]:
s//3

0    0
1    0
2    1
3    1
4    1
dtype: int64

In [36]:
s%3

0    1
1    2
2    0
3    1
4    2
dtype: int64

### 多个series计算

In [85]:
print(s),
print(s1)

a    1.0
b    3.0
c    4.0
d    6.0
e    5.0
dtype: float64
student a     86
student b     90
student c     75
student d    100
dtype: int64

In [86]:
3+np.nan

nan

In [44]:
s+s1

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
dtype: float64

In [45]:
print(s2)
print(s)

1    1
2    2
3    3
4    4
dtype: int64
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [47]:
s+s2

0    NaN
1    3.0
2    5.0
3    7.0
4    9.0
dtype: float64

In [49]:
# 利用series.add() 解决 nan 的问题 fill_value = 0 默认缺失值为0
s.add(s2,fill_value=0).astype(np.int64)

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [48]:
s-s2

0    NaN
1    1.0
2    1.0
3    1.0
4    1.0
dtype: float64

In [54]:
s.sub(s2,fill_value=100)

0   -99.0
1     1.0
2     1.0
3     1.0
4     1.0
dtype: float64

In [55]:
s*s2

0     NaN
1     2.0
2     6.0
3    12.0
4    20.0
dtype: float64

In [56]:
print(s)
print(s2)

0    1
1    2
2    3
3    4
4    5
dtype: int64
1    1
2    2
3    3
4    4
dtype: int64

In [50]:
s.mul(s2,fill_value=0)

0     0.0
1     2.0
2     6.0
3    12.0
4    20.0
dtype: float64

In [60]:
s/s2

0         NaN
1    2.000000
2    1.500000
3    1.333333
4    1.250000
dtype: float64

In [62]:
s.div(s2,fill_value=10)

0    0.100000
1    2.000000
2    1.500000
3    1.333333
4    1.250000
dtype: float64

## 缺失数据
### 遇到缺失值如何处理

In [51]:
s=pd.Series([1,3,np.nan,6,5],index=['a','b','c','d','e'])
s

a    1.0
b    3.0
c    NaN
d    6.0
e    5.0
dtype: float64

In [65]:
s['c']

nan

In [62]:
s.isnull()

a    False
b    False
c    False
d    False
e    False
dtype: bool

In [60]:
s.loc[s.isnull()] = 0

In [61]:
s

a    1.0
b    3.0
c    4.0
d    6.0
e    5.0
dtype: float64

In [71]:
s.loc[s.isna()]

c   NaN
dtype: float64

In [56]:
s[s.notnull()]

a    1.0
b    3.0
d    6.0
e    5.0
dtype: float64

In [76]:
s.notna()

a     True
b     True
c    False
d     True
e     True
dtype: bool

In [77]:
s.loc[s.notna()]

a    1.0
b    3.0
d    6.0
e    5.0
dtype: float64

In [82]:
s[~s.isna()]

a    1.0
b    3.0
d    6.0
e    5.0
dtype: float64

In [85]:
s.dropna(inplace=True)

In [86]:
s

a    1.0
b    3.0
d    6.0
e    5.0
dtype: float64

## 数据分割

In [63]:
heights=np.array([1.2,1.3,1.35,1.4,1.5,1.6,1.7,1.8,1.9])

pd.cut(heights,bins=3)

[(1.199, 1.433], (1.199, 1.433], (1.199, 1.433], (1.199, 1.433], (1.433, 1.667], (1.433, 1.667], (1.667, 1.9], (1.667, 1.9], (1.667, 1.9]]
Categories (3, interval[float64]): [(1.199, 1.433] < (1.433, 1.667] < (1.667, 1.9]]

In [88]:
heights=np.array([1.2,1.3,1.35,1.4,1.5,1.6,1.7,1.8,1.9])

pd.cut(heights,bins=3,labels=['低','中','高'])

[低, 低, 低, 低, 中, 中, 高, 高, 高]
Categories (3, object): [低 < 中 < 高]

### 课后习题

创建一个学生数学成绩的series，student a 86分，student b 90分，student c 75分，student d 100分

In [84]:
import re
name = re.findall('student [\w]',"student a 86分，student b 90分，student c 75分，student d 100分")
print(name)

['student a', 'student b', 'student c', 'student d']

创建一个学生语文成绩的series，student a 100分，student b 60分，student c 85分，student d 98分

计算每个学生的平均分

计算每个学生数学和语文的分数差绝对值

In [83]:
print(type(name),name)
math =pd.Series([86,90,75,100],index=name)
chinese = pd.Series([100,60,85,98], index=name)
print(math, chinese)

<class 'list'> ['student a', 'student b', 'student c', 'student d']
student a     86
student b     90
student c     75
student d    100
dtype: int64 student a    100
student b     60
student c     85
student d     98
dtype: int64