In [1]:
import MySQLdb

In [5]:
# 获取数据库连接

In [7]:
DATABASE = {
    'host':'127.0.0.1',
    'database':'test',
    'user':'root',
    'password':'root',
    'charset':'utf8mb4'
}
db = MySQLdb.connect(**DATABASE)

In [10]:
# sql语句
sql = "select * from user limit 5"
#获取游标
cursor = db.cursor()
cursor.execute(sql)
results = cursor.fetchall()
for row in results:
    print(row)

(2, 'chen', 'dd')
(3, 'sdsw', 'ss')
(4, 'ssd', '3')
(6, 'Jack', 'Jackson')
(7, 'Jack', 'Jackson')

In [24]:
## 插入
sql_one = "insert into user values(20, 'Hanysb','sdhs');"
sql_two = "select * from user"
try: 
    cursor = db.cursor()
    cursor.execute(sql_one)
    cursor.execute(sql_two)
    results = cursor.fetchall()
    for row in results:
        print(row)
    db.commit()
    
except Exception as e:
    print(e)
    db.rollback()

(1, 'cheng', 'sdhs')
(2, 'chen', 'dd')
(3, 'sdsw', 'ss')
(4, 'ssd', '3')
(6, 'Jack', 'Jackson')

In [15]:
# 删除
sql = "delete from user where id = 19;"
cursor = db.cursor()
print(cursor.execute(sql))
db.commit()

0

In [18]:
assert 10 != 20, "怎么可能"

In [19]:
# 异常捕捉，
try:
    a = 10
    b = a + 'hello'
except Exception as e:
    print(e)

unsupported operand type(s) for +: 'int' and 'str'