In [2]:
import numpy as np
import pandas as pd

from IPython.display import Image

# Pandas - Series
* Series计算
* 缺失数据
* 数据分割

## Series计算
* 第一series计算
* 多个series计算

In [3]:
s=pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
s1=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [5]:
s2=pd.Series({1:1,2:2,3:3,4:4})
s2

1    1
2    2
3    3
4    4
dtype: int64

### 单一series计算

In [8]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
s.sum()

15

In [10]:
s.cumsum()

0     1
1     3
2     6
3    10
4    15
dtype: int64

In [11]:
s.prod()

120

In [12]:
s.mean()

3.0

In [13]:
s.median()

3.0

In [14]:
s.var()

2.5

In [17]:
np.average(s,weights=[1,2,3,4,5])

3.6666666666666665

In [18]:
s.std()

1.5811388300841898

In [19]:
s.max()

5

In [20]:
s.min()

1

In [21]:
s.idxmax()

4

In [24]:
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [23]:
s1.argmax()

4

In [25]:
s1.idxmax()

'e'

In [26]:
s1.idxmin()

'a'

In [27]:
s1.argmin()

0

In [28]:
s.argmin()

0

In [29]:
s.idxmin()

0

In [31]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [30]:
s+1

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [32]:
s-2

0   -1
1    0
2    1
3    2
4    3
dtype: int64

In [33]:
s*3

0     3
1     6
2     9
3    12
4    15
dtype: int64

In [38]:
(s/3).astype(np.int64)

0    0
1    0
2    1
3    1
4    1
dtype: int64

In [35]:
s//3

0    0
1    0
2    1
3    1
4    1
dtype: int64

In [36]:
s%3

0    1
1    2
2    0
3    1
4    2
dtype: int64

### 多个series计算

In [39]:
print(s),
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [40]:
3+np.nan

nan

In [41]:
s+s1

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
dtype: float64

In [46]:
print(s2)
print(s)

1    1
2    2
3    3
4    4
dtype: int64
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [43]:
s+s2

0    NaN
1    3.0
2    5.0
3    7.0
4    9.0
dtype: float64

In [47]:
s.add(s2,fill_value=10)

0    11.0
1     3.0
2     5.0
3     7.0
4     9.0
dtype: float64

In [48]:
s-s2

0    NaN
1    1.0
2    1.0
3    1.0
4    1.0
dtype: float64

In [54]:
s.sub(s2,fill_value=100)

0   -99.0
1     1.0
2     1.0
3     1.0
4     1.0
dtype: float64

In [55]:
s*s2

0     NaN
1     2.0
2     6.0
3    12.0
4    20.0
dtype: float64

In [56]:
print(s)
print(s2)

0    1
1    2
2    3
3    4
4    5
dtype: int64
1    1
2    2
3    3
4    4
dtype: int64

In [59]:
s.mul(s2,fill_value=99)

0    99.0
1     2.0
2     6.0
3    12.0
4    20.0
dtype: float64

In [60]:
s/s2

0         NaN
1    2.000000
2    1.500000
3    1.333333
4    1.250000
dtype: float64

In [62]:
s.div(s2,fill_value=10)

0    0.100000
1    2.000000
2    1.500000
3    1.333333
4    1.250000
dtype: float64

## 缺失数据

In [64]:
s=pd.Series([1,3,np.nan,6,5],index=['a','b','c','d','e'])
s

a    1.0
b    3.0
c    NaN
d    6.0
e    5.0
dtype: float64

In [65]:
s['c']

nan

In [66]:
s.isnull()

a    False
b    False
c     True
d    False
e    False
dtype: bool

In [68]:
s.loc[s.isnull()]

c   NaN
dtype: float64

In [69]:
s.isna()

a    False
b    False
c     True
d    False
e    False
dtype: bool

In [71]:
s.loc[s.isna()]

c   NaN
dtype: float64

In [73]:
s[s.notnull()]

a    1.0
b    3.0
d    6.0
e    5.0
dtype: float64

In [76]:
s.notna()

a     True
b     True
c    False
d     True
e     True
dtype: bool

In [77]:
s.loc[s.notna()]

a    1.0
b    3.0
d    6.0
e    5.0
dtype: float64

In [82]:
s[~s.isna()]

a    1.0
b    3.0
d    6.0
e    5.0
dtype: float64

In [85]:
s.dropna(inplace=True)

In [86]:
s

a    1.0
b    3.0
d    6.0
e    5.0
dtype: float64

## 数据分割

In [87]:
heights=np.array([1.2,1.3,1.35,1.4,1.5,1.6,1.7,1.8,1.9])
pd.cut(heights,bins=3)

[(1.199, 1.433], (1.199, 1.433], (1.199, 1.433], (1.199, 1.433], (1.433, 1.667], (1.433, 1.667], (1.667, 1.9], (1.667, 1.9], (1.667, 1.9]]
Categories (3, interval[float64]): [(1.199, 1.433] < (1.433, 1.667] < (1.667, 1.9]]

In [88]:
heights=np.array([1.2,1.3,1.35,1.4,1.5,1.6,1.7,1.8,1.9])
pd.cut(heights,bins=3,labels=['低','中','高'])

[低, 低, 低, 低, 中, 中, 高, 高, 高]
Categories (3, object): [低 < 中 < 高]

### 课后习题

创建一个学生数学成绩的series，student a 86分，student b 90分，student c 75分，student d 100分

创建一个学生语文成绩的series，student a 100分，student b 60分，student c 85分，student d 98分

计算每个学生的平均分

计算每个学生数学和语文的分数差绝对值